<%! from django.utils.translation import ugettext as _ %>
<%inherit file="/main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="bodyclass">courseware</%block>
<%block name="pagetitle">${_("Courseware")}</%block>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='courseware'" />

<section class="container">
  <section class="outside-app">
    <h1>
      ${_('Something failed on the {platform_name} servers').format(
          platform_name=u'<span class="edx">{}</span>'.format(static.get_platform_name())
      )}
    </h1>
    <p>
                         ${Text(_('Please wait a few seconds and then reload the page. If the problem persists, please email us at {email}.')).format(
                    email=HTML('<a href="mailto:{email}">{email}</a>').format(
                    email=Text(static.get_tech_support_email_address())
                    )
                    )}

    </p>
  </section>
</section>
