<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%namespace name='static' file='static_content.html'/>

<section class="outside-app">
  <h1>
    ${_("There has been an error on the {platform_name} servers").format(
        platform_name=u"<em>{}</em>".format(static.get_platform_name())
    )}
  </h1>
  <p>
      ${Text(_('Please wait a few seconds and then reload the page. If the problem persists, please email us at {email}.')).format(
                    email=HTML('<a href="mailto:{email}">{email}</a>').format(
                    email=Text(static.get_tech_support_email_address())
                    )
                    )}

  </p>

% if staff_access:
<h1>${_("Details")}</h1>

<p>${_("Error:")}
<pre>
${error | h}
</pre>
</p>

<p>${_("Raw data:")}

<pre>${data | h}</pre>
</p>

% endif
</section>
